<ion-header>
    <ion-toolbar color=primary>
        <ion-buttons slot="start">
            <ion-menu-button  >
                <ion-icon size="large" style="color: white;" name="menu"></ion-icon>

            </ion-menu-button>
        </ion-buttons>
      <ion-grid center text-center>
        <ion-row>
          <ion-col size="10" class="head"> Simple Life </ion-col>
          <ion-col>
              <ion-icon (click)="goback()" size="large" name="arrow-round-back" class="back"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
<ion-content padding text-center center>
  <ion-grid text-center center>
    <ion-row class="img">
      <ion-col></ion-col>
      <ion-col size="4">
      <ion-img src="../../assets/img/logo.png"></ion-img>
      <ion-img src="../../assets/img/titre.png"></ion-img>
    </ion-col>
    <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="lock" >
      <ion-icon name="lock" ></ion-icon>
    إعدادات التطبيق
    </ion-col>
    </ion-row>
    <form>
    <ion-row>
      <ion-col>
      <ion-item>
        <ion-icon src="../../../assets/icon/user.svg"></ion-icon>
        <ion-input class="changeColor" id="name" type="text" placeholder="الإسم الأول ">
        </ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item>
        <ion-icon src="../../../assets/icon/user.svg"></ion-icon>
        <ion-input class="changeColor" id="prenom" type="text" placeholder="الإسم الأخير ">
        </ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item>
        <ion-icon src="../../assets/icon/unlock1.svg"></ion-icon>
        <ion-input class="changeColor" id="pass" type="password" placeholder="كلمة المرور "> </ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item>
        <ion-button class="changeColor" id="file" (click)="photo()"> صورة المستخدم  </ion-button>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-img src=" {{ myphoto }}" > </ion-img>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button class="bt" shape="round" (click)='update()' expand="full" size="large">موافق </ion-button>
      </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>