

ion-content {
  width: 100%;
  height: 100%;
  background: #f2f2f2 ;
  font-family: bader !important ;
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important;
  ion-grid{
    height: 100%;
    padding: 0px;

  }
   
}
.head{
 font-family: avant ;
 font-style: italic;
 font-size: 22pt;
 padding-top: 10px !important;
   }
ion-row{
  width: 100%;
  
  ion-col{
    padding: 0px;
  }
}
ion-menu-button {
  margin: 0px !important;
  width: 50px;
}

#map{
  height: 50%;
  width: 100%;
}
#map_canvas {
  height: 90%;
}
.bt{
  font-size: 15pt;
  font-family: bader;
}
.back{
  height: 50px;
  width: 40px;
  float:left ;
  }

