<ion-header>
  <ion-toolbar color=primary>
      <ion-buttons slot="start">
          <ion-menu-button >
            <ion-icon size="large" style="color: white;" name="menu"></ion-icon>
          </ion-menu-button>
      </ion-buttons>
    <ion-grid center text-center>
      <ion-row>
        <ion-col size="10" class="head"> Simple Life </ion-col>
        <ion-col>
            <ion-icon (click)="goback()" name="arrow-round-back" class="back"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div #map id="map_canvas" >  
    <ion-item>
      <ion-searchbar id="search" [(ngModel)]="search_address" placeholder="ابحث " >
        <ion-button style="widows: 100%; height: 100%;" (click)="onButton1_click()">
          ابحث 
        </ion-button>
      </ion-searchbar>
    </ion-item>
      <!-- <ion-list>
          <ion-item *ngFor="let place of places">{{place.description}}</ion-item>
      </ion-list> -->
    <!-- <input ion-input id="search" [(ngModel)]="search_address">
    <button ion-button (click)="onButton1_click()">Search</button> -->
  </div>
  <ion-button expand="full" size="large" shape="round" (click)='click()' class="bt" >تم إختيار المكان </ion-button>

</ion-content>
