<ion-header>
  <ion-toolbar color=primary>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon size="large" style="color: white;" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-grid center text-center>
      <ion-row>
        <ion-col size="10" class="head"> Simple Life </ion-col>
        <ion-col>
          <ion-icon (click)="goback()" size="large" name="arrow-round-back" class="back"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div #map id="map_canvas">
  </div>
  <ion-grid center text-center>
    <ion-row style="width: 100%;">
      <div no-padding style="width: 100%;">
        <ion-segment style="width: 100%;" [(ngModel)]="pet" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="test" checked>
            حول
          </ion-segment-button>
          <ion-segment-button value="cmnt">
            تعليقات
          </ion-segment-button>
        </ion-segment>
      </div>

      <div [ngSwitch]="pet" style="width: 100%;">
        <ion-list *ngSwitchCase="'test'">
          <ion-item>
            <div style="padding: 10px;">
              <br>
              <h3> {{ mark.description }} </h3>
            </div>
          </ion-item>

        </ion-list>

        <ion-list *ngSwitchCase="'cmnt'">
          <ion-item>
            <ion-label style="border-left: 1px solid ; padding: 2px; background: #dadada ; border-radius: 50%;">
              {{user.first_name}}
            </ion-label>
            <ion-textarea id="comnt" class="changeColor" type="text" placeholder=" تعليقك ... "></ion-textarea>

          </ion-item>
          <ion-button class="bt" shape="round" expand="full" size="large" (click)="comnt()"> تعليق </ion-button>
          <div *ngIf="listesCommenets">
            <ion-item *ngFor="let comment of listesCommenets ; let i = index" style="border-bottom: 2px solid">
              <ion-label>
                {{comment.contenu}}
              </ion-label>
            </ion-item>
          </div>
          <div *ngIf="! listesCommenets">
            <h3>لا يوجد تعليقات </h3>
          </div>
        </ion-list>
      </div>

    </ion-row>
  </ion-grid>

</ion-content>