

ion-content {
    width: 100%;
    height: 100%;
    background: #f2f2f2 ;
    font-family: bader !important ;
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
    ion-grid{
        height: 100%;
        padding: 0;
        margin: 0;
        border: 0;
    }
     
  }
  .changeColor{
    font-size: 15pt;
    font-family: bader;
    color: #a6a6a6 ;
  }
  .head{
   font-family: avant ;
   font-style: italic;
   font-size: 22pt;
   padding-top: 10px !important;
     }
     .bt{
      font-size: 15pt;
      font-family: bader;
    }
  

        #map_canvas {
          height: 200px;
        }
        .back{
          height: 50px;
          }
          ion-menu-button {
            margin: 0px !important;
            width: 50px;
          }