

ion-content {
  width: 100%;
  height: 100%;
  background: #f2f2f2 ;
  font-family: bader !important ;
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important;
  ion-grid{
    height: 100%;
    padding: 0px;

  }
   
}
.head{
 font-family: avant ;
 font-style: italic;
 font-size: 22pt;
 padding-top: 10px !important;
   }
ion-row{
  margin: 0px !important;
  width: 100%;
  
  ion-col{
    padding: 0px;
  }
}
ion-slides{
  width: 100%;
  ion-slide{
    width: 100%;
    ion-img{
      width: 100%;
    }
  }
}
.row1{
  padding-bottom: 20px;
  font-family: bader;
  color: #0384e0;
  font-size: 14pt;
}
.fab{
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  background: #0384e0 ;
  padding: 10%  10%  3% 3% ;
}
.fab1{
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  background: #0384e0 ;
  padding: 18%  25%  0% 0% ;
}
ion-menu-button {
  margin: 0px !important;
  width: 50px;
}




