<ion-header>
  <ion-toolbar color=primary>
      <ion-buttons slot="start">
          <ion-menu-button>
              <ion-icon size="large" style="color: white;" name="menu"></ion-icon>
          </ion-menu-button>
      </ion-buttons>
    <ion-grid center text-center>
      <ion-row>
        <ion-col size="10" class="head"> Simple Life </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content no-padding text-center center>
  <ion-grid>
    <ion-row class="row">
      <ion-col>
        <ion-slides pager="true" class="slide" >
          <ion-slide>
            <ion-img src="../../../assets/icon/homePage/photo2.png"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="../../../assets/icon/homePage/photo.png"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="../../../assets/icon/homePage/1.jpeg"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="row1" center>
      <ion-col>

        <ion-img (click)="go1()"  style="width: 85%; padding-right: 15px;" src="../../../assets/img/HomePage/Groupe 3.png"></ion-img>
        <div>المشاغل النسائية</div>

      </ion-col>
      <ion-col>

        <ion-img (click)="go2()" style="width: 85%; padding-right: 15px;" src="../../../assets/img/HomePage/Groupe 2.png"></ion-img>
        <div> محلات الجوال </div>


      </ion-col>
      <ion-col>

        <ion-img (click)="go3()" style="width: 85%; padding-right: 15px;" src="../../../assets/img/HomePage/Groupe 4.png"></ion-img>
        <div> منتجات عزاب
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="row1">
      <ion-col>


        <ion-img (click)="go4()" style="width: 85%; padding-right: 15px;" src="../../../assets/img/HomePage/Groupe 5.png"></ion-img>
        <div>منتجات عائلية

        </div>
      </ion-col>
      <ion-col>

        <ion-img (click)="go5()" style="width: 85%; padding-right: 15px;" src="../../../assets/img/HomePage/Groupe 1.png"></ion-img>
        <div>شاحنات طعام

        </div>
      </ion-col>
      <ion-col>

        <ion-img (click)="go6()" style="width: 85%; padding-right: 15px;" src="../../../assets/img/HomePage/Groupe 6.png"></ion-img>
        <div>منتجات للمناسبات </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>