<ion-content padding text-center center>
  <ion-grid text-center center>
    <ion-row class="img">
      <ion-col></ion-col>
      <ion-col size="6">
      <ion-img src="../../assets/img/logo.png"></ion-img>
      <ion-img src="../../assets/img/titre.png"></ion-img>
    </ion-col>
    <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="lock" >
      <ion-icon name="lock" ></ion-icon>
      الدخول
    </ion-col>
    </ion-row>
    
    
    <ion-row>
      <ion-col>
          <ion-button class="bt" shape="round" expand="full" size="large" href="/loginSeller"> <ion-icon name="cash"> </ion-icon>    تاجر 
          </ion-button>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
      <ion-button class="bt"  shape="round" expand="full" size="large" color="secondary" fill="outline" href="/loginUser" > <ion-icon name="contact"></ion-icon>  مستخدم </ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<!-- ionic cordova plugin add cordova-plugin-googlemaps --variable API_KEY_FOR_ANDROID="(AIzaSyDo5iL1SF8_N0JmdFseqPA9VmK_jnbCmUw)" --variable API_KEY_FOR_IOS="(AIzaSyAbsCnIEiclKD6EodZ6Nu5NGlbne7TpGow)" -->