<ion-header>
    <ion-toolbar color=primary>
        <ion-buttons slot="start">
            <ion-menu-button >
              <ion-icon size="large" style="color: white;" name="menu"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
      <ion-grid center text-center>
        <ion-row>
          <ion-col size="10" class="head"> Simple Life </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
    
  </ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item>
              <ion-icon name="home"></ion-icon>
              <ion-input class="changeColor" id="nom" type="text" placeholder="إسم المحل  ">
              </ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
              الصنف
          </ion-label>
          <ion-select center text-center id="select" placeholder="إختر الصنف"  interface="action-sheet" okText="تم الاختيار" cancelText="إلغاء " >
          <ion-select-option value=2 style="border-bottom:  2px solid ;" > المشاغل النسائية </ion-select-option>
          <ion-select-option value=3 >  محلات الجوال </ion-select-option>
          <ion-select-option value=4 > منتجات عزاب </ion-select-option>
          <ion-select-option value=5 > منتجات عائلية </ion-select-option>
          <ion-select-option value=6 > شاحنات طعام </ion-select-option>
          <ion-select-option value=7 > منتجات للمناسبات </ion-select-option>
        </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
        <ion-textarea id="desc" placeholder=" معلومات  عن المتجر  ..." >
        </ion-textarea>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button shape="round" (click)='click()' expand="full" size="large">موافق </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
