
ion-content{
    font-family: bader !important ;
    background: #f2f2f2 ;
  }
  ion-row.img{
    height: 20% !important;
  }
  .lock{
    color: #0384e0 ;
    font-size: 20pt;
    font-family: bader; 
  
  }
  .lock2{
    color: #0384e0 ;
  
  }
  .changeColor{
    font-size: 15pt;
    font-family: bader;
    color: #a6a6a6 ;
  }
  .bt{
    font-size: 15pt;
    font-family: bader;
  }
  .link{
    display: inline;
    text-decoration: none;
    font-weight: bold;
    color: #bc2e5c ;
    border-bottom: 1px solid #bc2e5c ;
  
  }
  .back{
    height: 50px;
    }
    .head{
      font-family: avant ;
      font-style: italic;
      font-size: 22pt;
      padding-top: 10px !important;
        }
.not{
    text-align: center ;
    font-family: bader !important ;
        
}