<ion-header>
        <ion-toolbar color=primary>
            <ion-buttons slot="start">
                <ion-menu-button  >
                    <ion-icon size="large" style="color: white;" name="menu"></ion-icon>
    
                </ion-menu-button>
            </ion-buttons>
          <ion-grid center text-center>
            <ion-row>
              <ion-col size="10" class="head"> Simple Life </ion-col>
              <ion-col>
                  <ion-icon (click)="goback()"  size="large" name="arrow-round-back" class="back"></ion-icon>
    
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>
  <ion-content padding>
      <div #map id="map_canvas" >
      </div>    
      <ion-button shape="round" expand="full" size="large" (click)="click()" >   {{title}} </ion-button>
    </ion-content>
