

ion-content {
  width: 100%;
  height: 100%;
  background: #f2f2f2 ;
  font-family: bader !important ;
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important;
   
}
.head{
 font-family: avant ;
 font-style: italic;
 font-size: 22pt;
 padding-top: 10px !important;
   }

ion-menu-button {
  margin: 0px !important;
  width: 50px;
}



.back{
  height: 50px;
  }


#map_canvas {
  height: 85%;
}