<ion-header>
  <ion-toolbar color=primary>
      <ion-buttons slot="start">
          <ion-menu-button >
            <ion-icon size="large" name="menu"></ion-icon>
          </ion-menu-button>
      </ion-buttons>
    <ion-grid center text-center>
      <ion-row>
        <ion-col size="10" class="head"> Simple Life </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <div *ngIf="open" >
        <ion-list *ngFor="let item of listes">
          <ion-item style="width: 100%;" >
            <div style="width: 100%;"    (click)="detaille(item.id)">
              <h2> {{ item.name_pub }} </h2> 
              <p> {{item.description}} </p> 
            </div>
            <ion-icon class="more" name="more" size="large" (click)="fun(item.id)" ></ion-icon>

          </ion-item>
        </ion-list>
        </div>
        <div *ngIf="! open"  class="not" >
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col size="8">
                 <h1>   لا يوجد إعلانات لك </h1>
                </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>

        </div>
</ion-content>
