<ion-content padding text-center center>
  <ion-grid text-center center>
    <ion-row class="img">
      <ion-col></ion-col>
      <ion-col size="6">
      <ion-img src="../../assets/img/logo.png"></ion-img>
      <ion-img src="../../assets/img/titre.png"></ion-img>
    </ion-col>
    <ion-col>
        <ion-icon (click)="goback()" name="arrow-round-back" class="back"></ion-icon>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="lock" >
      <ion-icon name="lock" ></ion-icon>
      حساب التاجر 
    </ion-col>
    </ion-row>
    <form>
    <ion-row>
      <ion-col>
      <ion-item>
        <ion-icon src="../../assets/icon/mail1.svg"></ion-icon>
        <ion-input class="changeColor" id="mail" type="mail" placeholder="البريد الإلكتروني ">
        </ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item>
        <ion-icon src="../../assets/icon/unlock1.svg"></ion-icon>
        <ion-input class="changeColor" id="pass" type="password" placeholder="كلمة المرور "> </ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button class="bt" shape="round" (click)='click()' expand="full" size="large">موافق </ion-button>
      </ion-col>
      </ion-row>
    </form>
      <ion-row>
        <ion-col>
          <ion-button class="bt"  shape="round" expand="full" size="large" color="secondary" fill="outline" href="/reg" >إشتراك جديد</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
         <ion-label  (click)="href()" class="link" > هل نسيت كلمة المرور ؟ </ion-label> 
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>