<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      marker-cluster
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <a class="sourcecode" href="https://github.com/mapsplugin/ionic-googlemaps-quickdemo-v4/blob/master/src/app/marker-cluster/marker-cluster.page.ts" target="_blank">[source code]</a>
  <p>Find your favorite Sturbacks!</p>
  <div class="map" id="map_canvas"></div>
</ion-content>