

<ion-content padding text-center center >
<ion-grid>
  <ion-row>
    <ion-col></ion-col>
    <ion-col size="7">
        <ion-img src="../../assets/img/logo.png"> </ion-img>
        <ion-img src="../../assets/img/titre.png"> </ion-img>
    </ion-col>
    <ion-col style="width: 100%;" >
      <ion-icon (click)="goback()" name="arrow-round-back" class="back"></ion-icon>
  </ion-col>  
</ion-row>
  <ion-row>
    <ion-col class="pr">
        أدخل رمز التفعيل
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input class="changeColor" id="test" placeholder="رمز التفعيل">
        </ion-input>
      </ion-item>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="bt" (click)="click()" shape="round" expand="full" size="large"  > موافق</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <ion-button class="bt" (click)="again()"  shape="round" expand="full" size="large" fill="outline" > إعادة إرسال </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ft">
            إذا لم يصل إليك رمز على هاتفك خلال 60 ثانية يمكن انقر على إعادة إرسال الرمز  
        </ion-col>
      </ion-row>
</ion-grid>
</ion-content>
