ion-content{
  font-family: bader !important ;
  background: #f2f2f2 ;
}
.pr{
  color: #0384e0 ;
  font-size: 20pt;
}
.changeColor{
  font-size: 14pt;
  font-family: bader;
  color: #a6a6a6 ;
}
.ft{
  font-size: 10pt;
  font-weight: bold;
}
.bt{
  font-family: bader ;
}
.back{
  color: #0384e0 ;
  height: 50px;
  width: 40px;
  float:left ;
  }