<ion-app>
    <ion-split-pane>
        <ion-menu style="font-family: bader !important ;" *ngIf=" id "  >         
        
          <ion-content no-padding>

            <ion-grid color=tertiary style="height: 100%; width:100%; padding: 0px;" >
                    <ion-row style="height:270px ; background: #a9cacf ; font-family: bader !important  ; font-size: 22pt;"  text-center>
                      <ion-col></ion-col>
                      <ion-col size=6>
                        <ion-icon *ngIf=" ! url" name="contact" style="height:60%; width: 100%" ></ion-icon>
                        <img *ngIf="url" src={{url}} style="height:60%; border-radius: 50%;" >
                        مرحباً بك 
                        <br>
                        {{ name }}
                      </ion-col>
                      <ion-col></ion-col>
                    </ion-row>
                    <ion-row *ngIf="x">
                       <ion-col style="height: 40px;">
                         <ion-item lines="none" (click)="liste()" style="height: 30px; color: #0384e0 ;">
                            <ion-icon name="list"></ion-icon>                            
                            <ion-label   style="font-family: bader !important  ; font-size: 22pt;" > إعلانات </ion-label>
                         </ion-item>
                         
                          
                       </ion-col> 
                    </ion-row>
                    <ion-row *ngIf="x">
                        <ion-col style="height: 40px;">
                         <ion-item lines="none" (click)="add()" style="height: 30px; color: #0384e0 ;">
                            <ion-icon name="add-circle"></ion-icon>
                           <ion-label  style="font-family: bader !important  ; font-size: 22pt;" > إضافة جديد </ion-label>
                           </ion-item>
                        </ion-col>
                     </ion-row>

                     <ion-row  *ngIf="x">
                        <ion-col style="height: 40px;">
                         <ion-item lines="none" (click)="demande()" style="height: 30px; color: #0384e0 ;">
                            <ion-icon name="share-alt"></ion-icon>
                           <ion-label style="font-family: bader !important  ; font-size: 22pt;" > طلبت الواردة  </ion-label >   
                           </ion-item>
                        </ion-col>
                     </ion-row>

                     <ion-row *ngIf="x">
                        <ion-col style="height: 40px;">
                         <ion-item lines="none" (click)="msg()" style="height: 30px; color: #0384e0 ;">
                            <ion-icon name="chatboxes"></ion-icon>
                           <ion-label style="font-family: bader !important  ; font-size: 22pt;" > صندوق الرسائل   </ion-label> 
                           </ion-item>
                        </ion-col>
                     </ion-row>
                     <ion-row>
                        <ion-col style="height: 40px;">
                         <ion-item lines="none" (click)="setting()" style="height: 30px; color: #0384e0 ;">
                            <ion-icon name="settings"></ion-icon>
                          <ion-label  style="font-family: bader !important  ; font-size: 22pt;" > إعدادات التطبيق  </ion-label>  
                          </ion-item>
                        </ion-col>
                     </ion-row>
                     <ion-row>
                        <ion-col style="height: 40px;">
                         <ion-item lines="none" (click)="click()" style="height: 30px; color: #0384e0 ;">
                            <ion-icon name="log-out"></ion-icon>
                          <ion-label   style="font-family: bader !important  ; font-size: 22pt;" > خروج   </ion-label>    
                          </ion-item>
                        </ion-col>
                     </ion-row>

                     <ion-row>
                      <ion-col style="height: 40px;">
                       <ion-item lines="none" (click)="report()" style="height: 30px; color: #0384e0 ;">
                        <ion-icon name="microphone"></ion-icon>
                        <ion-label   style="font-family: bader !important  ; font-size: 22pt;" > إتصل بنا      </ion-label>    
                        </ion-item>
                      </ion-col>
                   </ion-row>

                  </ion-grid>    
          </ion-content>
          </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
      
    </ion-split-pane>
  </ion-app>
