

<ion-content padding text-center center> 
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="4">
            <ion-img src="../../assets/img/logo.png"> </ion-img>
            <ion-img src="../../assets/img/titre.png"> </ion-img>
        </ion-col>
      <ion-col style="width: 100%;" >
        <ion-icon (click)="goback()" name="arrow-round-back" class="back"></ion-icon>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="pr">
            إنشاء حساب التاجر 
        </ion-col>
      </ion-row>
      <form  [formGroup]="form" >
      <ion-row>
         <ion-col>
           <ion-item>
              <ion-icon src="../../assets/icon/user.svg"></ion-icon>
              <ion-input formControlName="nom" class="changeColor" type="text"  id="nom" placeholder="الإسم الأول" ></ion-input>
           </ion-item>
         </ion-col>
      </ion-row>
      <ng-container *ngFor="let validation of validation_messages.nom" >
       <div class="alert alert-warning" *ngIf=" form.get('nom').hasError(validation.type) && !form.controls['nom'].valid && form.controls['nom'].touched " >
       {{ validation.message }}
       </div> 
      </ng-container>
      <ion-row>
          <ion-col>
            <ion-item>
               <ion-icon src="../../assets/icon/user.svg"></ion-icon>
               <ion-input class="changeColor" formControlName="prenom"  type="text" id="prenom" placeholder="الإسم الأخير " ></ion-input>
            </ion-item>
          </ion-col>
       </ion-row>
       <ng-container *ngFor="let validation of validation_messages.prenom" >
        <div class="alert alert-warning" *ngIf=" form.get('prenom').hasError(validation.type) && !form.controls['prenom'].valid && form.controls['prenom'].touched " >
          {{ validation.message }}
       </div>
       </ng-container>
       <ion-row>
          <ion-col>
            <ion-item>
                <ion-icon src="../../assets/icon/mail-n.svg"></ion-icon>
               <ion-input class="changeColor" formControlName="mail"  typ="mail" id="barid" placeholder="البريد الإلكتروني" ></ion-input>
            </ion-item>
          </ion-col>
       </ion-row>
       <ng-container *ngFor="let validation of validation_messages.mail" >
       <div class="alert alert-warning" *ngIf=" form.get('mail').hasError(validation.type) && !form.controls['mail'].valid && form.controls['mail'].touched " >
        {{ validation.message }}
       </div>
      </ng-container>

       <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon name="phone-portrait"></ion-icon>
               <ion-input class="changeColor" formControlName="tel" type="tel"  id="hatef" placeholder="رقم الجوال" ></ion-input>
            </ion-item>
          </ion-col>
       </ion-row>
       <ng-container *ngFor="let validation of validation_messages.tel" >
        <div class="alert alert-warning" *ngIf=" form.get('tel').hasError(validation.type) && !form.controls['tel'].valid && form.controls['tel'].touched " >
          {{ validation.message }}
       </div>
      </ng-container>

       <ion-row>
          <ion-col>
            <ion-item>
               <ion-icon name="locate"></ion-icon>
               <ion-input class="changeColor" formControlName="country" type="text"  id="country" placeholder="الدولة/المدينة" ></ion-input>
            </ion-item>
          </ion-col>
       </ion-row>
       <ng-container *ngFor="let validation of validation_messages.country" >
       <div class="alert alert-warning" *ngIf="  form.get('country').hasError(validation.type) && !form.controls['country'].valid && form.controls['country'].touched " >
        {{ validation.message }}
       </div>
      </ng-container>
       

       <ion-row>
          <ion-col>
            <ion-item>
                <ion-icon src="../../assets/icon/unlock-n.svg"></ion-icon>
               <ion-input class="changeColor" formControlName="pass" id="passs" type="password"  placeholder=" كلمة المرور " ></ion-input>
              </ion-item>
          </ion-col>
       </ion-row>
       <ng-container *ngFor="let validation of validation_messages.pass" >

        <div class="alert alert-warning" *ngIf="form.get('pass').hasError(validation.type) && !form.controls['pass'].valid && form.controls['pass'].touched " >
         {{ validation.message }}
        </div> 
       </ng-container>


       <ion-row>
          <ion-col>
            <ion-item>
                <ion-icon src="../../assets/icon/unlock-n.svg"></ion-icon>
               <ion-input class="changeColor" formControlName="repass" id="repass" type="password"  placeholder=" تأكيد كلمة المرور " ></ion-input>
            </ion-item>
          </ion-col>
       </ion-row>
       <ng-container *ngFor="let validation of validation_messages.repass" >

       <div class="alert alert-warning" *ngIf=" form.get('repass').hasError(validation.type) &&!form.controls['repass'].valid && form.controls['repass'].touched " >
        {{ validation.message }}
       </div> 
      </ng-container>
     
       <ion-row>
         <ion-col>
           <ion-button class="bt"  shape="round" expand="full" size="large" (click)="click()"  > إنشاء حساب   </ion-button>
         </ion-col>
       </ion-row>
      </form>
    </ion-grid>
    
    </ion-content>
    