ion-content{
  font-family: bader !important ;
  background: #f2f2f2 ;
}
.pr{
  color: #0384e0 ;
  font-size: 28pt;
}
.changeColor{
  font-family: bader ;
  font-size: 18pt;
  color: #a6a6a6 ;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
.bt{
  font-family: bader ;
}
ion-col {
  padding-bottom: 0px ;
  padding-top: 0px;
ion-item{
  padding-bottom: 0px ;
  padding-top: 0px;
ion-input{
  padding-bottom: 0px ;
  padding-top: 0px;
}
}
}
.back{
  color: #0384e0 ;
  height: 50px;
  width: 40px;
  float:left ;
  }