

<ion-content padding text-center center [formGroup]="form" > 
<ion-grid>
  <ion-row>
    <ion-col></ion-col>
    <ion-col size="7">
        <ion-img src="../../assets/img/logo.png"> </ion-img>
        <ion-img src="../../assets/img/titre.png"> </ion-img>
    </ion-col>
      <ion-col style="width: 100%;" >
        <ion-icon (click)="goback()" name="arrow-round-back" class="back"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="pr">
      <EM>  إشتراك جديد  </EM>
    </ion-col>
  </ion-row>
  <ion-row>
     <ion-col>
       <ion-item>
          <ion-icon src="../../assets/icon/user.svg"></ion-icon>
          <ion-input formControlName="nom" class="changeColor" id="nom" placeholder="الإسم الأول" ></ion-input>
       </ion-item>
     </ion-col>
  </ion-row>
  <ng-container *ngFor="let validation of validation_messages.nom" >
    <div class="alert alert-warning" *ngIf=" form.get('nom').hasError(validation.type) && !form.controls['nom'].valid && form.controls['nom'].touched " >
    {{ validation.message }}
    </div> 
   </ng-container>
  <ion-row>
      <ion-col>
        <ion-item>
           <ion-icon src="../../assets/icon/user.svg"></ion-icon>
           <ion-input formControlName="prenom" class="changeColor" id="prenom" placeholder="الإسم الأخير " ></ion-input>
        </ion-item>
      </ion-col>
   </ion-row>
   <ng-container *ngFor="let validation of validation_messages.prenom" >
    <div class="alert alert-warning" *ngIf=" form.get('prenom').hasError(validation.type) && !form.controls['prenom'].valid && form.controls['prenom'].touched " >
    {{ validation.message }}
    </div> 
   </ng-container>
   <ion-row>
      <ion-col>
        <ion-item>
            <ion-icon src="../../assets/icon/mail-n.svg"></ion-icon>
          <ion-input formControlName="mail" class="changeColor" id="yahoo" type="mail"  placeholder="البريد الإلكتروني" ></ion-input>
        </ion-item>
      </ion-col>
   </ion-row>
   <ng-container *ngFor="let validation of validation_messages.mail" >
    <div class="alert alert-warning" *ngIf=" form.get('mail').hasError(validation.type) && !form.controls['mail'].valid && form.controls['mail'].touched " >
    {{ validation.message }}
    </div> 
   </ng-container>
   <ion-row>
      <ion-col>
        <ion-item>
            <ion-icon src="../../assets/icon/unlock-n.svg"></ion-icon>
          <ion-input formControlName="pass" class="changeColor" id="facebook" type="password" placeholder="كلمة المرور" ></ion-input>

        </ion-item>
      </ion-col>
   </ion-row>
   <ng-container *ngFor="let validation of validation_messages.mail" >
    <div class="alert alert-warning" *ngIf=" form.get('pass').hasError(validation.type) && !form.controls['pass'].valid && form.controls['pass'].touched " >
    {{ validation.message }}
    </div> 
   </ng-container>
   <ion-row>
     <ion-col>
       <ion-button class="bt"  shape="round" (click)="click()" expand="full" size="large"> ارسال  </ion-button>
     </ion-col>
   </ion-row>
</ion-grid>

</ion-content>
