ion-content {
 font-family: hacen ;
 background: #f2f2f2 ;
}
.step{
  text-align: center;
  color: #bc2e5c ; 
  font-size: 20pt;
}
.stepp{
  text-align: center;
  color: #0384e0 ; 
  font-size: 15pt;
  padding-bottom: 50px;
}
ion-button {
  font-family: hacen ;
  font-size: 18pt ;
}
