<ion-content padding center texe-center>
  <ion-grid>
    <ion-row>
      <ion-col style="font-size: 15pt; font-family: hacen ;">
      <ion-label (click)="add()" style="font-size: 15pt; font-family: hacen ;"> تخطي </ion-label>  
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides pager="true"  id="slides" [options]="isEnd" (ionSlideReachEnd)=(ionSlideReachEnd()) >
          <ion-slide id="slides">
            <ion-grid>
              <ion-row>
                <ion-col></ion-col>
                <ion-col size="5">
                  <ion-img src="../../assets/img/step1.png" style="padding-top: 20px;"> </ion-img>
                </ion-col>
                <ion-col></ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="step">
                  إختار الخدمة المناسبة
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="stepp">
                  .لك حرية الاختيار من بين مقدمي الخدمات لتحديد مقدم الخدمة المناسبة للمهمة المطلوبة لك
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-slide>
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col></ion-col>
                <ion-col size="7">
                  <ion-img src="../../assets/img/step2.png" style="padding-top: 20px;"> </ion-img>
                </ion-col>
                <ion-col></ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="step">
                  تصفح الخدمات
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="stepp">
                  كل مزود خدمة يكتب تفاصيل الخدمة المقدمة من طرفه ولك حرية الاختيار.
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-slide>
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col></ion-col>
                <ion-col size="7">
                  <ion-img src="../../assets/img/step3.png" style="padding-top: 20px;"> </ion-img>
                </ion-col>
                <ion-col></ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="step">
                  تواصل مع مقدم الخدمة
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="stepp">
                  تواصل مع صاحب الخدمة وحدد موعدا معه يناسبك ويناسبه.
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-slide>
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col></ion-col>
                <ion-col size="7">
                  <ion-img src="../../assets/img/step4.png" style="padding-top: 70px;"> </ion-img>
                </ion-col>
                <ion-col></ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="step">
                  شارك تجربتك
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="stepp">
                  شارك تجربتك بإيجابياتهاو سلبياتها مع أصدقائك.
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="open">
       <ion-button class="bt" (click)="add()"  shape="round" expand="full" size="large" > التالي   </ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>