ion-content{
  font-family: bader !important ;
  background: #f2f2f2 ;
  color: #0384e0;
}
.icon{
  color: #0384e0 ;
}
.changeColor{
  font-size: 14pt;
  color: #a6a6a6 ;
  font-family: bader;
  font-weight: bold;}
  .bt{
    font-family: bader ;
    font-size: 15pt;
  }
  .lock{
    font-size: 20pt;
  }
  .back{
    color: #0384e0 ;
    height: 50px;
    width: 40px;
    float:left ;
    }