<ion-content padding text-center center>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="7">
        <ion-img src="../../assets/img/logo.png"> </ion-img>
        <ion-img src="../../assets/img/titre.png"> </ion-img>
      </ion-col>
      <ion-col style="width: 100%;" >
        <ion-icon (click)="goback()" name="arrow-round-back" class="back"></ion-icon>
    </ion-col>    </ion-row>
    <ion-row>
      <ion-col class="lock" >
        إستعادة كلمة المرور
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon src="../../assets/icon/mail1.svg" class="icon" ></ion-icon>
          <ion-input class="changeColor" id="mail" type="mail" placeholder="البريد الإلكتروني  ">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="bt" shape="round" expand="full" size="large" (click)="click()" > ارسال  </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>