<ion-header>
    <ion-toolbar color=primary>
        <ion-buttons slot="start">
            <ion-menu-button >
              <ion-icon size="large" style="color: white;" name="menu"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
      <ion-grid center text-center>
        <ion-row>
          <ion-col size="10" class="head"> Simple Life </ion-col>
          <ion-col>
              <ion-icon (click)="goback()" name="arrow-round-back" class="back"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <div *ngIf="demande" >
    <ion-list *ngFor="let item of demande">
      <ion-item >
          <h1>
       {{ item.nom }} : 
        </h1>
       <ion-label>
         {{item.contenu}}
       </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf=" ! demande" class="not">
    <h1> لا توجد طلبات   </h1>
  </div>

  </ion-content>
  