@font-face {
  font-family: hacen;
  src: url(../assets/font/Hacen\ Saudi\ Arabia.ttf);
}
@font-face {
  font-family: bader;
  src: url(../assets/font/bader-al-gordabia.ttf);
}
@font-face {
  font-family: avant;
  src: url(../assets/font/AVGARDNI.ttf);
}

body{
  background: #f2f2f2 ;
}
