<ion-header>
    <ion-toolbar color=primary>
        <ion-buttons slot="start">
            <ion-menu-button  >
                <ion-icon size="large" style="color: white;" name="menu"></ion-icon>
  
            </ion-menu-button>
        </ion-buttons>
      <ion-grid center text-center>
        <ion-row>
          <ion-col size="10" class="head"> Simple Life </ion-col>
          <ion-col>
              <ion-icon (click)="goback()"  size="large" name="arrow-round-back" class="back"></ion-icon>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
<ion-grid>
  <ion-row>
  <ion-col>
    ابحث بشكل أسرع 
  </ion-col>
</ion-row>
<ion-row>
    <ion-col>
      <ion-item>
        <ion-input placeholder="حدد عنوانك على الخريطة" id="position"></ion-input>
        <ion-icon name="pin" color=primary></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col>
        <ion-item>
          <ion-label> {{message}} </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button shape="round" expand="full" size="large" (click)="click()" > <div class="recherche"> بحث  </div></ion-button>
      </ion-col>
    </ion-row>

</ion-grid>
</ion-content>
