.head{
  font-family: avant ;
  font-style: italic;
  font-size: 22pt;
  padding-top: 10px !important;
    }
  ion-content{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: bader;
    color: #0384e0;
    font-size: 20pt;
    ion-grid{
      width: 100%;
      height: 100%;
      padding: 20px;
      padding-top: 30px !important;
    }
  }
  
  ion-input{
    font-family: bader;
    color: #0384e0;
    font-size: 18pt;
    padding: 0px ;
  }
  ion-label{
    font-family: bader;
    color: #0384e0;
    font-size: 18pt;
    padding: 0px ;
    text-align: center;
  }
 .recherche{
  font-family:bader; 
  font-size:23pt;
 }
 .back{
  height: 50px;
  }
  ion-menu-button {
    margin: 0px !important;
    width: 50px;
  }