<ion-content padding text-center center>
  <ion-grid>
    <ion-row class="img" >
      <ion-col></ion-col>
      <ion-col size="7">         
          <ion-img src="../../assets/img/logo.png"> </ion-img>
          <ion-img src="../../assets/img/titre.png"> </ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row class="spinner">
      <ion-col>
        <ion-spinner name="lines"  color="#0b8cf4" duration="1" class="sp"> </ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        جاري التحميل
      </ion-col>
    </ion-row>
 
<ion-row>
  <div class="footer"> 2018 @ المطور مؤسسة النظم المتحدة (مثمرة) </div>
 
</ion-row>
</ion-grid>
</ion-content>