
.footer{
  height: 8% ; 
  width: 100%;
  font-size: 10pt;
  padding-top: 5%;
}
.spinner{
  padding-top: 15%;
}
.sp{
  width: 30%;
}

ion-content{
    font-family: hacen ;
    background: #f2f2f2 ;
}
ion-grid {
  height: 100%;
  ion-col{
    font-size: 18pt;
    color: #0384e0 ;/* bc2e5c */
  }
}
ion-row.img{
  height: 65% !important;
  padding-top: 30%;
}

