<ion-header>
  <ion-toolbar color=primary>
      <ion-buttons slot="start">
          <ion-menu-button >
            <ion-icon size="large" style="color: white;" name="menu"></ion-icon>
          </ion-menu-button>
      </ion-buttons>
    <ion-grid center text-center>
      <ion-row>
        <ion-col size="10" class="head"> Simple Life </ion-col>
        <ion-col>
            <ion-icon (click)="goback()" size="large" name="arrow-round-back" class="back"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="msg">
  <ion-list *ngFor="let item of msg" style="padding: 5px;">
  <ion-item (click)="contenu(item.id)" >

    <div style="width: 100%;">
       <h1>{{item.nom}}</h1>
       <h3> {{item.subject}} </h3>
       <p> {{item.contenu}} </p>
       <ion-badge color="success" style="float:left ;">{{item.date | date:'medium'}}</ion-badge>
    </div>
  </ion-item>
</ion-list>
</div>

</ion-content>

