ion-content {
    width: 100%;
    height: 100%;
    background: #f2f2f2 ;
    font-family: bader !important ;
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
    ion-grid{
      height: 100%;
      padding: 0px;
  
    }
     
  }
  .head{
   font-family: avant ;
   font-style: italic;
   font-size: 22pt;
   padding-top: 10px !important;
     }

     .back{
      height: 50px;
      width: 40px;
      float:left ;
      }