<ion-content padding text-center center>
  <ion-grid text-center center>
    <ion-row class="img">
      <ion-col> </ion-col>
      <ion-col size="6">
      <ion-img src="../../assets/img/logo.png"></ion-img>
      <ion-img src="../../assets/img/titre.png"></ion-img>
    </ion-col>
    <ion-col style="width: 100%;" >
        <ion-icon (click)="goback()" name="arrow-round-back" class="back"></ion-icon>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="lock" >
      <ion-icon name="lock" ></ion-icon>
      تسجيل الدخول
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item>
        <ion-icon src="../../assets/icon/mail-n.svg"></ion-icon>
        <ion-input class="changeColor" type="mail" id="mail" placeholder="البريد الألكتروني ">
        </ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item>
        <ion-icon src="../../assets/icon/unlock1.svg"></ion-icon>
        <ion-input class="changeColor" type="password" id="pass" placeholder="كلمة المرور "> </ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button class="bt" shape="round" (click)='click()' expand="full" size="large">موافق </ion-button>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
      <ion-button class="bt"  shape="round" expand="full" size="large" color="secondary" fill="outline" href="/signup" >إشتراك جديد</ion-button>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
         <ion-label (click)='href()' class="link" > هل نسيت كلمة المرور ؟ </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>